.footer{
    margin-top: 130px;
  }
  
  @media screen and (max-width: 768px) {
  .title-2{
  margin-left:4% !important;
  margin-top: 70px;
  }
  .txt-3{
    margin-left: -20% !important;
  }
  .txt-4{
  display: none;
  }
  .footer{
    margin-top: 450px;
  }
    }
    @media screen and (max-width: 400px) {
  
    }
  
  