body{
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}
.container-fluid{
  margin: 0 !important;
  padding:0 !important ;
}
form {
  width: 300px;
  margin-left: 10% !important;
  font-family: Jost;
  font-weight: 500;
  margin-top: 70px;
  margin-left: 100px;
}
.form-item {
  padding: 5px 0;
  color: #353333;
  input[type="checkbox"] {
    display: none;
    & + label {
      position: relative;
      padding: 7px 10px;
      border: 1px solid #e4e4e4;
      border-radius: 4px;
      height: 40px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      background-color: rgba(228, 228, 228, 0.1);
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: center left 10px;
      transition: 0.1s;
    }
    &:checked {
      & + label {
        padding-left: 36px;
        border-color: rgba(255, 153, 0, 0.74);
        background-color: rgba(255, 153, 0, 0.74);
        background-image: url("https://image.flaticon.com/icons/svg/1632/1632596.svg");
      }
    }
  }
}

.checkbox-label {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="checkbox"]:checked + .checkbox-label {
  background-color: #007bff;
  color: #fff;
}

input[type="checkbox"]:checked + .checkbox-label::before {
  content: "\2713";
}

.checkbox-label:hover {
  background-color: #f0f0f0;
}
#ekibimiz {
  color: #000;
  font-family: Jost;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 144.585%; /* 52.051px */
  text-align: center;
  margin-top: 20px !important;
}
.ekibimiz-img {
  width: 260px;
  height: 175px;
  flex-shrink: 0;
  float: right;
  margin-top: -60px;
  margin-right: 240px;
}
.card-container {
  margin: 0px auto;
  margin-left: 30%;
  margin-top: -24.2%;
  width: 1050px;
  height: auto;
}
.card-img-top {
  border-radius: var(--h, 131px);
  background: url(<path-to-image>) lightgray 50% / cover no-repeat, #d9d9d9;
  width: 131px;
  height: 129px;
  flex-shrink: 0;
  margin-top: 15px;
}
.card {
  text-align: center;
  border-radius: 8px;
    background-color: #303030;

  width: 21% !important;
  height: 33% !important;
  flex-shrink: 0;
  margin-left: 20px;
  margin-bottom: 22px;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  flex: 1 0 45%; /* Kartların genişliği */
  margin: 5px !important; /* Aralıklar */
  margin-left: 30px !important;
  margin-top: 10px !important;
}
.card:hover {
  transform: scale(1.1);
}
.card-2 {
  border-radius: 8px;
  background: rgba(14, 13, 13, 0.84);
  width: 200px !important;
  height: 270px !important;
  flex-shrink: 0;
  margin-left: 20px;
}
.card-title {
  color: #f8eeee;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 10%; /* 23.134px */
}
.card-text {
  color: #FFB800;
  text-align: center;
  font-family: Jost;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: 144.585%;
}
a {
  text-decoration: none;
}
.content {
  background-color: blue;
  margin: auto;
  height: 70%;
  width: 60%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  position: static;
  margin-bottom: 10%;
}
.previous-button {
  border: none;
  border-radius: 15px;
  background-color: #f90;
  width: 130px;
  height: 40px;
  color: white;
  font-size: 17px;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 26px;
  border:1px solid gray;

}
.previous-button-2 {
  width: 130px;
  height: 40px;
  margin-left: 160px;
}
.previous-button:hover {
  background-color: rgb(243, 166, 51); /* Koyu Yeşil */
  transform: scale(1.1);
}
.previous-button:active {
  background-color: rgb(243, 166, 51); /* Daha koyu yeşil */
}
h2 {
  margin-left: 10px;
  font-family: Jost;
  color: rgba(255, 153, 0, 0.74) !important;
  display: inline-block;
}
.title {
  color: #292727;
  font-family: Jost;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0;
  margin-left: 429px;
  margin-bottom: -23px;
  font-size: 20px;
}
.cv-img {
  width: 35%;
  height: 45%;
  margin-left: 1%;
  float: left;
  margin-right: 20px;
}
.cv-img-2 {
  width: 100%;
  height: 100%;
}
.satirbasi {
  margin-top: 22px;
  font-size: 18px;
  font-family: Jost;
  color: black;
}
.txt {
  font-size: 18px;
  color: #8d8585;
  margin-top: -14px;
  margin-left: 10px;
}
.title-2 {
  color: #292727;
  font-family: Jost;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 20px;
}
.title-3 {
  color: #292727;
  font-family: Jost;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0;
  margin-left: 37.5%;
  margin-top: -5px;
  font-size: 20px;
}
.ul {
  margin-left: 37.5%;
  margin-top: -10px;
}
.txt-2 {
  margin-left: 39%;
  font-size: 18px;
  color: #8d8585;
  margin-top: -17px;
}
.content-hr {
  width: 90% !important;
  margin: auto;
}
.ekibimiz-hr{
  width: 90% !important;
  margin: auto;
}
.footer {
  position: relative;
  z-index: 9999 !important; 
  width: 100%;
  height: 250px;
  background-color: #1a1a1a;
  margin-top: 100px !important;
  margin-bottom: -20px ;
}
.footer img {
  height: 200px;
  width: 280px;
}
.footer p {
  text-align: center;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  flex-shrink: 0;
  margin: auto;
}
.iletisim-box{
  margin: auto;
  width: 1500px;
  margin-top: 100px;
  margin-left: 220px;
}
.mailbox, .phonebox{
  background: #332f2f;
  width: 240px;
  height: 250px;
  margin-left: 100px;
  border-radius: 20px;
  float: left;
  display: flex;
  align-items: center;
  color: #FFF;
  cursor: pointer;
  position: relative;
  transition: all 0.7s ease-in-out;
  overflow: hidden;
}
.mailbox p{
  margin-top: 70px !important;
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: -120px;
}
.phonebox p{
  margin-left: -100px;
}
.faksbox p{
  margin-left: -100px;
}
.adressbox p{
  margin-left: -115px;
  margin-top: 5px;
}
.adressbox img{
  margin-top: -110px;
}
.box-img{
  margin-top: -100px;
  margin-left:80px;
}
.faksbox img, .adressbox img{
  margin-left: 82px;
}
.mailbox-hover {
  width: 190px;
  height: 254px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #FFF;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  transition: all 0.7s ease-in-out;
  overflow: hidden;
}
.mailbox::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background-color: #97a8a8;
  bottom: 0;
  right: 0;
  transform: translatey(70px);
  border-radius: 100%;
  transition: all 0.7s ease-in-out;
  opacity: 0.2;
}
.mailbox:hover::before {
  transform: scale(7) translate(-20px);
}
.mailbox:hover {
  color: #f3f3f3 !important;
}

.footer{
  margin-top: 450px !important;
}



@media screen and (max-width: 1780px) {
  form {
    margin-left: 100px !important;
  }
  .card-container{
  margin-left: 450px;
  margin-top: -460px;
    }
    .iletisim-box{
      margin-left: 100px;
    }
}

@media screen and (max-width: 1600px) {
  .mobile-check{
    display: none;
  }
  .card-container {

    margin: auto !important;
  }
  .iletisim-box{
    margin-left: 50px;
  }

}
@media screen and (max-width: 1550px) {

  .iletisim-box{
    margin-left: 20px;
  }
}
@media screen and (max-width: 1450px) {

  .iletisim-box{
    margin-left: 70px;
  }
  .mailbox{
    margin-left: 50px;
  }
}

@media screen and (max-width: 1400px) {
  .iletisim-box{
    margin-left: 50px;
  }
  .mailbox{
    margin-left: 50px;
  }
  .card-container {
    margin: auto !important;
  }
}
@media screen and (max-width: 1300px) {
  .iletisim-box{
    margin-left: 80px;
  }
  .mailbox{
    margin-left: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .iletisim-box{
    margin-left: 50px;
  }
  .mailbox{
    margin-left: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .iletisim-box{
    margin-left: 15px;
  }
  .mailbox{
    margin-left: 20px;
  }

}
@media screen and (max-width: 1050px) {
  .iletisim-box{
    margin-left: 20px;
  }
  .mailbox{
    margin-left: 5px;
    width: 210px;
  }
  .mailbox p{
    margin-left: -105px;
  }
  .mailbox img{
    margin-left: 57px;
  }

}

@media screen and (max-width: 800px) {
  .card-container {
    margin: auto !important;
  }
}
@media screen and (max-width: 768px) {

  .iletisim-box{
    max-width: 99%;
    margin-bottom: 700px;
    height: 100px;
    margin-left: 5px;
    background-color: #000;
  }
  .mailbox{
    width: 180px;
    height: 220px;
    margin-top: 15px;
    margin-right: 10px;
  }
  .mailbox img{
    width: 50px;
  }
  .mailbox p{
    font-size: 15px;
    margin-left: -95px;
  }
  .faksbox p{
    margin-left: -70px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#ekibimiz{
  z-index: 1 !important;
  position: relative;
}
.card {
    flex: 1 0 45%; /* Kartların genişliği */
    margin: 22px !important; /* Aralıklar */
    /* Diğer stillendirme özellikleri */
}
.card-title{
  margin-top: 20px;
}
.card-text{
  margin-top: 5px;
}

.mobile-check{
  display: none;
}
.card-container{
  margin-top: 20px;
  margin-left: 0.2px !important;
  width: 100%;
  align-items: center;
}
.card-img-top{
  width: 90px;
  height: 90px;
}
.card{
width: 170px !important;
height: 210px !important;
margin-right: 0px;
margin-top: 30px;
margin-left: 30px;
}
.footer img {
  height: 110px;
  width: 190px;

}
.footer p {
  font-size: 14px;
  margin-top: -11px;
}
.footer{
  height: 160px;
}
.footer img{
  margin-top: 15px !important;
}
}

@media screen and (max-width: 400px) {

  .card {
    flex: 1 0 45%; /* Kartların genişliği */
    margin: 12px !important; /* Aralıklar */
    /* Diğer stillendirme özellikleri */
}


}
