
body{
  margin: 0px;
  }
  .container{
    margin:0px auto ;
    width: 100%;
    
  }
  .sidebar{
    margin: 0px auto;
    height: 190px;
    width: 100%;
    border-bottom: 1px solid black ;
  }
  .sidebar img{
    float: left;
    height: 300px;
    width: 300px;
    margin-left:70px;
    position:relative;
    top: -45px;
  
  }
  .p1{
    color: #D52529;
    font-family: K2D;
    font-size: 21px;
    position:relative;
    top:60px;
    left: -40px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }
  .p3{
    font-family: K2D;
    font-size: 21px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    position:relative;
    top:47px;
    left: -30px;
    line-height: 10px;
  }
  .p2{
    color: #FFA800;
    position:relative;
    top:21.5px;
    left: 0px;
    line-height: 0px;
    line-height: 0px;
  }
  .sidebar-btn{
    border:0px;
    width: 165px;
    height: 50px;
    border-radius: 10px;
    background-color:#D52529 ;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
    text-transform: capitalize;
    float: right;
    margin-top: -33px;
    margin-right: 200px;
  }
  .sidebar-btn a{
    text-decoration: none;
    color: #FFF;
  }
  .navbar{
    height: 70px;
    width: 100%;
    border-bottom: 1px solid black;
  }
  .menu{
    width: 1200px;
    height: 70px;
  }
  ul{
    padding:0px;
    float: left;
    margin-left: -150px;
    margin-top: 5px;
    list-style: none;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
  }
  ul#main li{
    margin-left: 20px;
    float: left;
    position: relative;
    width: 200px;
  
  }
  ul#main li ul{
    padding: 0px; margin: 0px;
    display: none;
    position: absolute;
    left: -20px;
    top:60px;
  }
  ul li a{
    display: block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    background-color: white;
    text-align: center;
    color:black;
    text-decoration: none;
  }
  ul li a:hover{
    background-color: rgb(219, 214, 214);
  }
  ul#main li:hover ul{
    display: block;
  }
  .menu-ımlec{
    margin-top:-38px;
    margin-left: 150px;
  }
  .menu-ımlec2{
    margin-top:-38px;
    margin-left: 170px;
  }
  .search-box{
    border-radius: 8px;
    border:1px solid rgb(0, 0, 0);
    width: 220px;
    height: 40px;
    float: right;
    margin-top:-55px;
    margin-right: 250px;
  }
  .search{
    float: right;
    margin-top:-52px;
    margin-right: 200px;
  }
  .svg-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}
svg {
  
  margin-top: -38px;
    max-width: 100%; /* SVG'nin maksimum genişliği belirli bir değeri geçmeyecek */
    max-height: 100%; /* SVG'nin maksimum yüksekliği belirli bir değeri geçmeyecek */
}
.P-baslık{
  color: #000;
  font-family: K2D;
  font-size: 82px;
  font-style: italic;
  font-weight: 600;
  line-height: 130.076%; 
  position: absolute;
  left: 135px;
  top: 230px;
}
.p-slogan{
  color: #656060;
font-family: Jost;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 813px;
height: 200px;
position:absolute;
left: 135px;
top: 400px;
}
.preface-slider{
  width: 100%;
  height: 390px;
  position: relative;
  margin-top: -550;
  }

      /*SLİDER  CSS */
      .slider-container {
        position: relative;
        width: 100%;
        overflow: hidden;
      } 
 
      .slider {
        display:inline-flex;
        transition: transform 0.5s ease;
      }

   
    #next-button {
      position: absolute;
      top: 340px;
      right: 10px;
      transform: translateY(-50%);
      z-index: 1; /* Divlerin üzerinde olmasını sağlar */
  }    
            /*SLİDER  CSS */

  .slider-box1{
    border-radius: 15px;
    background-color: white;
    width: 250px;
    height: 360px;
    position: relative;
    margin-top: 15px;
    margin-left: 100px;
    float: left;
  }
  .slider-box2{
    border-radius: 15px;
    background-color: white;
    width: 250px;
    height: 360px;
    position: relative;
    margin-top: 15px;
    margin-left: 100px;
    float: left;
  }
  .slider-box2 img{
    border-radius: 10px;
      width: 180px;
      height: 200px;
      display: block;
      margin: auto;
      margin-top: 25px;
    }
    .slider-box1 img{
      border-radius: 10px;
        width: 180px;
        height: 200px;
        display: block;
        margin: auto;
        margin-top: 25px;

      }
  .slider-box2 p{
  color: rgba(13, 31, 58, 0.65);
  font-family: Jost;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-top: 12px;
  }
  .slider-box1 p{
  color: rgba(13, 31, 58, 0.65);
  font-family: Jost;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-top: 12px;
  }
  .slider-box2 hr{
  width: 180px;  
  margin-top: -15px;
  }
  .slider-box1 hr{
  width: 180px;  
  margin-top: -15px;
    }
 .box-p{
  color: rgba(101, 96, 96, 0.75);
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-top: 4px;
    }

button#next-button{
  border: 0px;
  background-color:#FFA800;
  opacity:1;
  margin-left: 1780px;
  margin-top: -150px;
  border-radius: 60px;
  padding:0px;
}







