  body {
    margin: 0px auto;
    --color1:#FFF;
    --color2:black;
  }
  .sidebar {
    margin: 0px auto;
    height: 210px;
    width: 100%;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    }
    a{
      text-decoration: none !important;
    }
.close-menu, .open-menu, .menu-mobile{
  display: none;
}
#check{
  display: none;
}
  .navbar-arka{
    border: 1px;
    height: 71px;
    width: 100%;
    border-bottom: 1px solid black;
   
    }
  .menu {
    width: 100%;
    height: 80px;
    position: absolute;	
  }
  ul{
    padding: 0px !important;
  }
  
  [class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  nav {
    margin: auto;
    width: 100%;
    min-width: 600px;
    overflow: hidden;

  }   
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .flex {
    flex: 1;
    background: #fff;
    padding: 1em;
    text-align: center;
    transition: all .2s;
    font-weight: 500px;
    font-size: 20px;
    color:#000;
    font-family: Jost;
    letter-spacing: normal !important;
  } 
    .flex:hover {
      background: #1f1f11;
      cursor: pointer;
      color:white;

    }   
  .fixed {
    display: inline-flex;
    background: #1E6B47;
    transition: all .3s;
  }
  .fixed:hover { 
    width: 30%;
  }
  .mobil-baslik{
    display: none;
  }





  .container {
    margin: 0px auto;
    width: 100%;
    align-items: center;
  }
  .sidebar img{
    margin-top: -70px !important;
    margin-left: 150px;
    animation: rotate 1s linear 2 alternate; /* 2 kez çalışacak şekilde ayarlandı */
    transform-style: preserve-3d; /* 3D dönme efekti için gereklidir */
    perspective: 1000px; /* 3D dönme efekti için perspektif ekliyoruz */
  }
  
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg); /* İlk adımda resmi 180 derece döndürüyoruz */
  }
}




  .p1 {
    color: #d52529;
    font-family: K2D;
    font-size: 23px;
    position: absolute;
    margin-top: -250px;
    margin-left: 500px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }
  .p3 {
    font-family: K2D;
    font-size: 23px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    line-height: 10px;
    position: absolute;
    margin-top: -210px;
    margin-left: 520px;
  }
  .p2 {
    font-family: K2D;
    font-size: 23px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    line-height: 10px;
    position: absolute;
    margin-top: -209.4px;
    margin-left: 555px;
    color: #ffa800;        
  }
  .sidebar-btn {
    border: 0px;
    width: 165px;
    height: 50px;
    border-radius: 10px;
    background-color: #d52529;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
    text-transform: capitalize;
    float: right;
    margin-top: 80px;
    margin-right: 200px;
  }
  .sidebar-btn a {
    text-decoration: none;
    color: #fff;
  }
  .menu-ımlec {
    margin-top: -38px;
    margin-left: 150px;
  }
  .search-box {
    position: absolute;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    width: 220px;
    height: 40px;
    margin-top:15px;
    margin-left: 1100px;
  }
  .search {
    position: absolute;
    margin-top: 17px;
    margin-left: 1710px;
  }
  .animatedInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    transition: border-color 0.1s ease, box-shadow 0.1s ease;
  }
  
  .animatedInput:hover{
    border-color: #000000;
    box-shadow: #000000;
  }
  .middle-slider{
    display: none;
  }
  
  @media screen and (max-width: 1170px) {

    .sidebar-btn{
      margin: 0px !important;
      margin-top: 8% !important;
      margin-right: 2% !important;
      float: right !important;   
    }
    .sidebar img{
      margin-left:0 !important;
      float: left !important;
    }
    /* Animasyon */
    .sidebar-btn, .sidebar img {
      transition: margin 0.5s ease, float 0.5s ease;
    }
  
    .sidebar-btn {
      animation: slideRight 0.5s forwards;
    }
  
    .sidebar img {
      animation: slideLeft 0.10s forwards;
    }
  
    @keyframes slideRight {
      from {
        margin-right: 0;
      }
      to {
        margin-right: 2%;
      }
    }
  
    @keyframes slideLeft {
      from {
        margin-left: 0;
      }
      to {
        margin-left: 0;
      }
  }

  .nav-bar{
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    list-style: none !important;
    position: absolute !important;
    top:0px;
    background-color: transparent !important;
    height: 38px;
    
}
.menu-mobile{display: flex !important;}
.menu-mobile li {padding-left: 30px !important;}
.menu-mobile li a{
    display: inline-block !important;
    text-decoration: none !important;
    color: var(--color1) !important;
    text-align: center !important;
    transition: 0.15s ease-in-out !important; 
    position: relative !important;
    text-transform: uppercase !important;
}
.menu-mobile li a::after{
    content: "" !important;
    position: absolute !important;
    bottom:0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 1px !important;
    background-color: var(--color1) !important;
    transition: 0.15 ease-in-out !important;             
}
.menu-mobile li a:hover:after{
    width: 100% !important;
}
.open-menu, .close-menu{
    position: absolute ;
    color: #ffa800;
    cursor: pointer;
    font-size: 2.5rem;  
    display: none;           
}
.open-menu{
    top:170%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;             
}
#check {display: none;}
@media(max-width:610px){
    .menu-mobile{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu-mobile li{margin-top: 30px;}
    .menu-mobile li a{padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu-mobile {right: 0;}
}
body{
  overflow: hidden;

}


  }
  