.preface{
    margin: 0px;
    padding: 0px;
    height: 657px;
    width: 100%;
    margin-bottom: 40px;
}
.preface img{
    height: 657px;
    width: 100%;
    opacity: 0.5;
}
.text-center{
    position: absolute;
    padding: 0px;
    margin: 0px;
    color: white; /*YAZI BEYAZ OLACAK*/
    font-family: Jost;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-top: -22%;
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  .mobile-content1{
    display: none;
  }
.content{
  border-radius: 15px;
    display: flex;
    margin: 0px auto;
    height: auto;
    width: 93%;
    background: linear-gradient(129deg, rgba(152, 167, 153, 0.87) 1.01%, rgba(47, 46, 65, 0.87) 112.29%);
    margin-bottom: 40px;
    justify-content: center;
    padding: 20px;
    position: relative;
}
.row1 {
  display: flex;
  flex-wrap: wrap; /* Satırı ikiye bölmek için */
  align-items: flex-start; /* Yüksekliği aynı hizada tutmak için */
  justify-content: center;
  gap: 8%;
  margin-top: 3%;
  margin-left: 1%;
}
.card{
  margin-bottom: 10%;
  flex: 0 0 calc(50% - 20px); /* Kutuların yarısını kaplayacak şekilde */
  max-width: 16.3%;
  height: 350px;
  background: #FFF;
  border-radius: 0px 0px 15px 15px;
}
.img-fluid {
  width: 221px;
  height: 217px;
  margin: auto;
  margin-top: 10%;
}
.content p{
    color: rgba(51, 80, 125, 0.65);
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 144.585%; 
    text-align: center;
    margin-top: 4%;
}

.footer {
  width: 100%;
  height: 28%;
  background-color: #1a1a1a;
  bottom: 0; 
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 0px;
}

.footer img {
  height: 130px;
  width: 220px;
  margin: auto;
  margin-left: 20%;
}

.footer p {
  text-align: center;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  flex-shrink: 0;
  position: absolute;
  margin-top: 46%;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

  .preface, .content, .mobile{
    display: none;
  }

  .mobile-content1{
      display: grid;
      background: linear-gradient(87deg, #444363,  #98A799);
      margin: auto;
      width: 90%;
      height: 950px;
      border-radius: 15px;
      margin-top: 20px;
  }
  .mobile-content1 p{
    color:white;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    font-family: jost;
  }
  .mobile-content {
    position: relative;
    border-radius: 10px;
    width: 100%;
    margin-top: -100px;
  }
  .mobile-content img {
    margin-top: 10px ;
    margin-left: 15px;
    width: 40px;
  }
  .line-1 {
    margin: auto;
    border-radius: 5px;
    background: #fff;
    margin-top: 10px;
    width: 90%;
    height: 65px;
  }
  .title {
    color: rgba(0, 0, 0, 0.88) !important;
    font-family: Jost !important;
    font-size: 17px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 144.585%; /* 20.242px */
    letter-spacing: 0.14px !important;
    text-align: center !important;
    margin-left: -50px !important;
    padding-top: 18px ;
  }
  .more {
    color: rgba(34, 34, 34, 0.88) !important;
    font-family: Jost !important;
    font-size: 17px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 144.585%; /* 20.242px */
    letter-spacing: 0.14px;
    text-align: center ;
    margin-top: -38px !important;
    float: right !important;
    margin-right: 20px !important;
  }
  .mobile-button{
    color:#FFF;
    background-color: #2F2E41;
    border: 1px solid #2F2E41;
    border-radius: 15px;
    font-family: Jost;
    font-size: 22px;
    width: 50%;
    height: 50px;
    margin: auto;
    margin-top: -50px;
    letter-spacing: 2px;
  }
  .mobile-button a{
    text-decoration: none;
    color:#FFF;
  }
}


@media screen and (max-width: 768px) {

  .title, .more{
    font-size: 15px !important;
  }
  .title{
    margin-left: -45px !important;
    padding-top: 20px ;
  }
  .more{
    margin-top: -36px !important;
  }
}