.content {
  width: 100%;
  height: 580px;
  margin: 0px auto;
  margin-top: 10px !important;
}
.mobile-content {
  display: none;
}
.mobile-hizmet, .mobile-hizmet-hr{
  display: none;
}
.content-baslik {
  margin-top: -110px;
  padding-top: 20px;
  text-align: center;
  color: #000;
  font-family: Jost;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.content-baslik2 {
  margin-top: -20px;
  padding: 0px;
  text-align: center;
  color: #ffa800;
  font-family: Jost;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: flex;
}
.cizgilibaslik {
  display: flex;
  flex-direction: row;
}
.cizgilibaslik:before,
.cizgilibaslik:after {
  content: "";
  flex: 0.1 0.1;
  border-bottom: 2px solid #000;
  margin: auto;
}
.cizgilibaslik:before {
  margin-right: 10px;
}
.cizgilibaslik:after {
  margin-left: 10px;
}
.iletisim-txt {
  color: #c0b4b4;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 10px;
  margin-left: 420px;
  border-radius: 10px;
  border: 1px solid #ffb800;
  background: #fff;
  display: flex;
  width: 230px;
  height: 40px;
  padding: 5px;
  align-items: center;
}
.iletisim-txt2 {
  color: #c0b4b4;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 10px;
  border: 1px solid #ffb800;
  background: #fff;
  display: flex;
  width: 230px;
  height: 40px;
  padding: 5px;
  align-items: center;
}
.iletisim-text {
  color: #c0b4b4;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 10px;
  margin-left: 423px;
  border-radius: 10px;
  border: 1px solid #ffb800;
  background: #fff;
  display: flex;
  width: 460px;
  height: 110px;
  padding: 5px;
  align-items: center;
}
.mobile-iletisim {
  display: none;
}
.iletisim-btn {
  display: flex;
  width: 145px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #ffcb2d;
  border: 1px #ffcb2d;
  color: #000;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 15px;
  margin-left: 580px;
}
.animatedButton {
  cursor: pointer;
  transition: all 0.3s ease;
}
.animatedButton:hover {
  background-color: #c59812;
}

.image {
  position: relative;
  width: 396px;
  height: 293px;
  margin-top: 850px;
  float: right;
  margin-right: 330px;
}
#animated-image {
  position: absolute;
  top: 100%; /* İlk olarak sayfanın dışında olsun */
  right: 0;
  transition: top 1s ease;
}
.content hr {
  margin-top: 70px;
  width: 90%;
  height: 0.5px;
  background-color: #000;
}
.mobile-slogan-2 {
  display: none;
}
/*SLİDER 2 */
.slider-container2 {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  width: 80%;
  overflow: hidden;
  height: 550px;
}
.slider2 {
  display: flex;
  transition: transform 0.5s ease;
}
.slide {
  min-width: 1400px;
  flex: 1;
}
.slide img {
  height: 550px;
  width: 1400px;
}
.preview {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: left; /* Metni sola yasla */
  max-width: 90%; /* Varsayılan genişlik */
  margin: 0 auto; /* Yatay ortala */
  text-align: left;
  margin-top: 350px;
  margin-bottom: -200px;
}
@media screen and (max-width: 1650px) {
  .preview img {
    margin-left: 1000px !important;
  }
  .iletisim-txt {
    margin-left: 200px !important;
  }
  .iletisim-text {
    margin-left: 200px !important;
  }
  .iletisim-btn {
    margin-left: 200px !important;
    margin-top: 10px !important;
  }
  .image {
    margin-right: 40px !important;
  }
}
@media screen and (max-width: 1300px) {
  .div-ortala {
    width: 90%; /* Ekran 600px veya daha küçük olduğunda div genişliği %100 olsun */
    padding: 10px; /* İstediğiniz padding değeri */
  }
  .preview img {
    display: none;
  }
}
.preview p {
  justify-content: start;
  max-width: 100%;
  box-sizing: border-box;
  color: #534d4d;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 500px;
  width: 826px;
  margin-left: 150px;
  padding-top: 120px !important;
  max-width: 90%;
  margin-right: 100px !important;
}
.preview img {
  overflow: clip;
  max-width: 90%;
  width: 300px;
  height: auto; /* Orantılı yükseklik */
  box-sizing: border-box;
  margin-right: 200px;
  margin-left: 1300px;
  margin-top: -500px;
}
.footer {
  width: 100%;
  height: 250px;
  background-color: #1a1a1a;
}
.footer img {
  height: 200px;
  width: 290px;
}
.footer p {
  text-align: center;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  flex-shrink: 0;
  margin: auto;
}
input[type="text"]:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px #000000;
}
input[type="email"]:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px #000000;
}
input[type="tel"]:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px #000000;
}
input[type="tel"]:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px #000000;
}
select:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px #000000;
}
textarea:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px #000000;
}
::placeholder {
  color: #c0b4b4;
  font-family: Jost;
}
input[type="text"] {
  color: black; /* İçeriğin siyah olması */
}
input[type="tel"] {
  color: black;
}
input[type="email"] {
  color: black;
}
input[type="select"] {
  color: black;
}
textarea {
  color: black;
}
input[type="text"] {
  color: black; /* İçeriğin siyah olması */
  transition: transform 0.1s ease; /* Büyüme animasyonu için geçiş efekti */
}
input[type="tel"] {
  color: black; /* İçeriğin siyah olması */
  transition: transform 0.1s ease; /* Büyüme animasyonu için geçiş efekti */
}
input[type="email"] {
  color: black; /* İçeriğin siyah olması */
  transition: transform 0s ease; /* Büyüme animasyonu için geçiş efekti */
}
select {
  color: black; /* İçeriğin siyah olması */
  transition: transform 0.1s ease; /* Büyüme animasyonu için geçiş efekti */
}
textarea {
  color: black; /* İçeriğin siyah olması */
  transition: transform 0.1s ease; /* Büyüme animasyonu için geçiş efekti */
}
input[type="text"]:focus {
  transform: scale(1.1); /* Büyüme animasyonu */
}
input[type="tel"]:focus {
  transform: scale(1.1); /* Büyüme animasyonu */
}
input[type="email"]:focus {
  transform: scale(1.1); /* Büyüme animasyonu */
}
select:focus {
  transform: scale(1.1); /* Büyüme animasyonu */
}
textarea:focus {
  transform: scale(1.1); /* Büyüme animasyonu */
}
@media screen and (max-width: 1210px) {
  .iletisim-txt {
    margin-left: 100px !important;
  }
  .iletisim-text {
    margin-left: 100px !important;
  }
}
@media screen and (max-width: 1050px) {
  .image {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  .sidebar img {
    width: 260px;
    height: 240px;
    margin-top: -50px !important;
    margin-left: -15px !important;
  }
  .sidebar {
    height: 130px;
    border-bottom: 1px solid black;
  }
  .mobil-baslik {
    display: block;
    font-family: K2D;
    font-size: 21px;
    position: absolute;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-left: 200px;
    margin-top: 35px;
  }
  .baslik-1 {
    color: #d52529;
  }
  .baslik-2 {
    margin-left: 20px;
  }
  .baslik-3 {
    color: #ffa800;
  }
  .p-slogan,
  .slider_container,
  .p-baslık,
  .sidebar-btn,
  .navbar-arka,
  .slider-container2,
  .full-screen-svg {
    display: none;
  }
  .mobile-svg {
    display: block !important;
    width: 300px;
    margin-top: -500px !important;
    z-index: -1 !important;
    position: relative;
  }
  .mobile-slogan {
    display: block !important;
    color: #000;
    font-family: Jost;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 2% !important;
    margin-top: -400px;
    width: 345px;
  }
  .mobile-img {
    display: block !important;
    margin-top: 100px;
    margin-left: 300px;
    height: 350px;
  }
  .iletisim-table {
    margin-top: 0px;
  }
  .mobile-slogan-2 {
    display: block;
    color: #000;
    text-align: justify;
    font-family: Jost;
    font-size: 17px;
    width: 370px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
    position: relative;
    margin-top: 170px;
    margin-left: 50px;
  }
  .mobile-iletisim {
    margin: auto;
    display: block;
    margin-top: 15px !important;
    border-radius: 10px;
    background: #2f2e41;
    display: flex;
    width: 280px;
    height: 47px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .mobile-iletisim a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.15px;
  }
  .mobile-content {
    display: block;
    border-radius: 10px;
    border: 2px dashed rgb(187, 13, 187);
    margin: auto;
    width: 95%;
    height: 750px;
    margin-top: -900px;
  }
  .mobile-content img {
    margin-left: 15px;
    width: 40px;
  }
  .mobile-hizmet{
    display: block;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    font-weight: 500;
    font-family: Jost;
  }
  .mobile-hizmet-hr{
    height: 2px !important;
    background-color: rgb(187, 13, 187);
    width: 30%;
    margin: auto;
    margin-top: -20px;
  }
  .line-1 {
    margin: auto;
    border-radius: 5px;
    background: #fff;
    margin-top: 25px;
    width: 380px;
    height: 65px;
  }
  .line-1 p {
    color: rgba(0, 0, 0, 0.88);
    font-family: Jost;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 144.585%; /* 20.242px */
    letter-spacing: 0.14px;
    text-align: center;
    margin-left: -90px !important;
    margin-top: -32px;
  }
  .more {
    color: rgba(34, 34, 34, 0.88);
    font-family: Jost;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 144.585%; /* 20.242px */
    letter-spacing: 0.14px;
    text-align: center;
    margin-top: -40px !important;
    float: right;
    margin-right: 20px;
  }
  .content-baslik {
    margin-top: 200px;
  }
  .iletisim-txt {
    margin-left: 40px !important;
    width: 180px;
    border: 2px solid #ffb800;
  }
  .iletisim-txt2 {
    width: 180px;
    border: 2px solid #ffb800;
  }
  .iletisim-text {
    margin-left: 40px !important;
    width: 385px;
    border: 2px solid #ffb800;
  }
  .content hr {
    margin: auto;
  }
  .iletisim-btn{
    font-weight: bold !important;
    font-size: 18px;
    margin-top: 30px !important;
    margin-left: 150px !important;
  }
  .footer img{
    width: 170px;
    height: 120px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .preview p{
    font-size: 25px !important;
    margin-left: 30px !important;
    margin-top: -120px;
  }

}
@media screen and (max-width:550px){
  .mobile-img {
    display: block !important;
    margin-top: 115px;
    margin-left: 256px;
    height: 350px;
    opacity: 0.9;
  }
}
@media screen and (max-width:660px){

.mobile-svg {
  display: block !important;
  width: 600px;
  margin-top: -500px !important;
  z-index: -1 !important;
  position: relative;
}
body {
  overflow-x: hidden;
}
.footer img {
  height: 100px;
  width: 200px;
}
.footer p {
  font-size: 14px;
}
}