
body {
  overflow-x: hidden;
}
svg {
  margin-top: 0px;
    max-width: 100%; /* SVG'nin maksimum genişliği belirli bir değeri geçmeyecek */
    max-height: 100%; /* SVG'nin maksimum yüksekliği belirli bir değeri geçmeyecek */
  margin-top: -690px;
}
.P-baslık{
  color: #000;
  font-family: K2D;
  font-size: 82px;
  font-style: italic;
  font-weight: 600;
  line-height: 130.076%; 
  margin-left: 135px;
  position: absolute;
  top:320px;
  width: 240px;
  height: 100px;
  box-sizing: border-box;
}
.p-slogan{
  box-sizing: border-box;

  color: #656060;
font-family: Jost;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 813px;
height: 110px;
position: absolute;
left: 135px;
top: 450px;
}
.mobile-img{
  display: none;
}
.slider_container {
  position: absolute !important;
  width: 100%;
  overflow: hidden;
  padding-top: 490px !important;
}
.mobile-slogan{
  display: none;
}
.slider {
  display: flex;
  transition: transform 0.5s ease;
}
.mobile-svg{
  display: none;
}
.card {
  flex: 0 0 250px !important; /* Kart genişliğini 250px olarak sabit tutar */
  height: 360px !important;
  margin-right: 100px ; /* Kartlar arasındaki boşluk */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 15px !important;
}
.card img{
  width: 180px;
  height: 200px;
  border-radius: 10px;
  margin-top: 20px !important;
}
.hidden {
  display: none;
}

button {
  margin-top: 100px !important;
}
.text-center{
  color: rgba(13, 31, 58, 0.65);
  font-family: Jost;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-top: 12px;
}
.card-p{
  color: rgba(101, 96, 96, 0.75) !important;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-align: center;

}
.card hr{
width: 80%;
margin-top: -10px;
}
.full-screen-svg{
width:2114px !important;
height: 900px;
margin-bottom: 200px;
}
button {
  margin-top: 100px !important;
}
.text-center{
  color: rgba(13, 31, 58, 0.65);
  font-family: Jost;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-top: 12px;
}
.card-p{
  color: rgba(101, 96, 96, 0.75) !important;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-align: center;

}
.card hr{
width: 80%;
margin-top: -10px;
}
button#next-button{
  border: 0px;
  background-color:#FFA800;
  opacity:1;
  margin-left: 1780px !important;
  margin-top: -450px !important;
  border-radius: 60px;
  padding:0px;
  z-index: 1 !important;
  position: absolute;
}
@media screen and (max-width: 1890px) {
  button#next-button{
    margin-left: 1740px !important;

  }
}
@media screen and (max-width: 1825px) {
  button#next-button{
    margin-left: 1670px !important;

  }
}
@media screen and (max-width: 1780px) {
  button#next-button{
    margin-left: 1600px !important;
  }
}
@media screen and (max-width: 1700px) {
  button#next-button{
    margin-left: 1520px !important;
  }
}
@media screen and (max-width: 1650px) {
  button#next-button{
    margin-left: 1450px !important;
  }
}
@media screen and (max-width: 1550px) {
  button#next-button{
    margin-left: 1370px !important;
  }
}
@media screen and (max-width: 1500px) {
  button#next-button{
    margin-left: 1340px !important;
  }
}
@media screen and (max-width: 1450px) {
  button#next-button{
    margin-left: 1250px !important;
  }
}
@media screen and (max-width: 1300px) {
  button#next-button{
    margin-left: 1150px !important;
  }
}
@media screen and (max-width: 1280px) {

  button#next-button{
    display: none !important;
  }
}
