body{
    margin: 0px;
}
.container{
    margin:0px auto ;
    width: 100%; 
}


header img{
height: 300px;
width: 300px;
margin-top: -48px;
float: left;
margin-left: 70px;
}
header{
    border-bottom: 1px solid black;
    height: 190px;
}
.yazilar{
    position: fixed;
    width:200px;
    height: 100px;
    float: left;    
    margin-top: 60px;
    margin-left: 250px;
    font-family: K2D;
    font-size: 21px;
    font-style: italic;
    font-weight: 700;
    line-height: normal; /* 125% */
    span.kelime1{color:#D52529;}
    span.kelime2{color:black;}
    span.kelime2{margin-left: 15px;}
    span.kelime3{color:#FE9015;}
  }
  .header-btn{
    border:0px;
    width: 165px;
    height: 50px;
    border-radius: 10px;
    background-color:#D52529 ;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.18px;
    text-transform: capitalize;
    float: right;
    margin-right: 215px;
    margin-top: 70px;
    color:white;
  }