.h1-class {
  margin: auto ;
  margin-top: 30px ;
  margin-bottom: 30px;
  color: #000;
  font-family: Jost;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 271px;
  height: 61px;
}
.mobile-is-baslik{
  display: none;
}
.content {
  overflow-x: auto;
  white-space: nowrap;
  display: block;
  position: absolute;
  margin-left: 7.5%;
  width: 85%;
  height: 1300px;
  border-radius: 15px;
  background: linear-gradient(
    271deg,
    rgba(213, 37, 41, 0.74) -21.92%,
    #2f2e41 157.63%
  );
}

.h2-class {
  color: #fff;
  font-family: Jost;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 60px;
  margin-left: 50px;
}
.kariyer-p {
  color: #fff;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  margin-top: 0px;
  margin-left: 50px ;
}
.kariyer-mobile-p{
  display: none;
}
.kariyer-img {
  float: right;
  margin-right: 5.5%;
  margin-top: -60px;
}
.personality {
  position: absolute;
  margin-top: 10px;
  height: 17%;
  width: 100%;
}
.personality p {
  color: #fff;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 260px;
  margin-top: 20px;
}
.iletisim-txt {
  color: #c0b4b4;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 30px;
  margin-left: 260px;
  border-radius: 10px;
  border: 1px solid #ffb800;
  background: #fff;
  display: flex;
  width: 230px;
  height: 40px;
  padding: 5px;
  align-items: center;
}
.iletisim-txt-tabledısı {
  color: #c0b4b4;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 30px;
  margin-left: 780px;
  margin-top: -143.5px;
  border-radius: 10px;
  border: 1px solid #ffb800;
  background: #fff;
  display: flex;
  width: 230px;
  height: 40px;
  padding: 5px;
  align-items: center;
}
.iletisim-txt2-tabledısı {
  color: #c0b4b4;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 30px;
  margin-left: 780px;
  border-radius: 10px;
  border: 1px solid #ffb800;
  background: #fff;
  display: flex;
  width: 230px;
  height: 40px;
  padding: 5px;
  align-items: center;
}
.iletisim-txt2 {
  color: #c0b4b4;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 30px;
  margin-left: 30px;
  border-radius: 10px;
  border: 1px solid #ffb800;
  background: #fff;
  display: flex;
  width: 230px;
  height: 40px;
  padding: 5px;
  align-items: center;
}
.iletisim-txt-area {
  color: #c0b4b4;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  margin-top: -30px;
  margin-left: 30px;
  border-radius: 10px;
  border: 1px solid #ffb800;
  background: #fff;
  display: flex;
  width: 230px;
  height: 120px;
  padding: 5px;
  align-items: center;
  text-align: left;
}
.iletisim-date {
  color: #c0b4b4;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 30px;
  margin-left: 260px;
  border-radius: 10px;
  border: 1px solid #ffb800;
  background: #fff;
  display: flex;
  width: 230px;
  height: 40px;
  padding: 5px;
  align-items: center;
}
.education {
  position: absolute;
  height: 300px;
  width: 100%;
  margin-top: 250px;
}
.education p {
  color: #fff;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 260px;
  margin-top: 20px;
}
.education-area {
  color: #c0b4b4;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  margin-left: 30px;
  border-radius: 10px;
  border: 1px solid #ffb800;
  background: #fff;
  display: flex;
  width: 475px;
  height: 80px;
  padding: 5px;
  align-items: center;
  text-align: left;
}
.education-area2 {
  color: #c0b4b4;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  margin-left: 260px;
  border-radius: 10px;
  border: 1px solid #ffb800;
  background: #fff;
  display: flex;
  width: 500px;
  height: 100px;
  padding: 5px;
  align-items: center;
  text-align: left;
}
.experience {
  position: absolute;
  height: 250px;
  width: 100%;
  margin-top: 550px;
}
.experience p {
  color: #fff;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 260px;
  margin-top: 20px;
}
.experience-area {
  color: #c0b4b4;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  margin-left: 260px;
  border-radius: 10px;
  border: 1px solid #ffb800;
  background: #fff;
  display: flex;
  width: 1010px;
  height: 150px;
  padding: 5px;
  vertical-align: top;
}
.message {
  position: absolute;
  height: 250px;
  width: 100%;
  margin-top: 800px;
}
.message p {
  color: #fff;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 260px;
  margin-top: 20px;
}
.message-area {
  color: #c0b4b4;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  margin-left: 260px;
  border-radius: 10px;
  border: 1px solid #ffb800;
  background: #fff;
  display: flex;
  width: 700px;
  height: 120px;
  padding: 5px;
  vertical-align: top;
}
.message-btn {
  display: flex;
  width: 160px;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #ffcb2d;
  border: 1px #ffcb2d;
  color: #fff;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -55px;
  margin-left: 1050px;
}
.content-h1 {
  margin-top: 1400px !important;
  margin: auto ;
  margin-top: 30px ;
  margin-bottom: 30px;
  color: #000;
  font-family: Jost;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 271px;
  height: 61px;
}
.txt-box{
justify-content: start;
  width: 40%;
  box-sizing: border-box;
margin-left:650px;

}
.txt1{
color: #000;
font-family: Jost;
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: left;
margin-top: -240px;
}
.txt2{
  color: #000;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: left;
  margin-top: 10px;
  }
  .nedenbiz-img{
    margin-left: 145px;
    margin-bottom: -45;  
  }
  .footer {
    width: 100%;
    height: 250px;
    background-color: #1a1a1a;
  }
  .footer img {
    height: 200px;
    width: 290px;
  }
  .footer p {
    text-align: center;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    flex-shrink: 0;
    margin: auto;
  }
  input[type="text"] {
    color: black; /* İçeriğin siyah olması */
    /* Diğer stillendirme özellikleri */
}
input[type="tel"] {
  color: black; /* İçeriğin siyah olması */
  /* Diğer stillendirme özellikleri */
}
input[type="email"] {
  color: black; /* İçeriğin siyah olması */
  /* Diğer stillendirme özellikleri */
}
textarea {
  color: black; /* İçeriğin siyah olması */
  /* Diğer stillendirme özellikleri */
}
input[type="date"] {
  color: black; /* İçeriğin siyah olması */
  /* Diğer stillendirme özellikleri */
}
@media screen and (max-width: 1170px) {

  .nedenbiz-img{
    display: none;
  }
  .txt-box{
    justify-content: start;
      width: 60%;
      box-sizing: border-box;
    margin-left:650px; 
    margin-left: 0px !important;
    margin-left: 20% !important;
    }
    .txt1{
    color: #000;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: left;
    margin-top: 0;
    }
    .txt2{
      color: #000;
      font-family: Jost;
      font-size: 22px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-align: left;
      margin-top: 10px;
      }
      .kariyer-img{
        display: none;
      }
      .iletisim-txt {
        margin-left: 50px !important;
      }
      .iletisim-txt2 {
        margin-left: 20px !important;
      }
      .iletisim-txt-area {
        margin-left: 50px !important;
        width: 400px !important;
      }
      .iletisim-date {
        margin-left: 50px !important;
      }
      .education-area {
        margin-left: 20px !important;

      }
      .education-area2 {
        margin-left: 50px !important;
      }
      .experience-area {
        margin-left: 50px !important;
        width: 950px !important;
      }
      .message-area {
        margin-left: 50px !important;

      }
      .personality p {
        margin-left: 50px !important;
      }
      .experience p{
        margin-left: 50px !important;
      }
      .education p{
        margin-left: 50px !important;
      }
      .message p{
        margin-left: 50px !important;
      }
}

@media screen and (max-width: 1600px) {
  .iletisim-txt-tabledısı{
    margin-left: 50px !important;
    margin-top: -5px !important;
  }
  .iletisim-txt2-tabledısı{
    margin-left: 304px !important;
    margin-top: -70px !important;
  }
.message-btn {
  margin-left: 50 !important;
  margin-top: 20px !important;
}
.kariyer-img{
  display: none;
}
.iletisim-txt {
  margin-left: 50px !important;
}
.iletisim-txt2 {
  margin-left: 20px !important;
}
.iletisim-txt-area {
  margin-left: 50px !important;
}
.iletisim-date {
  margin-left: 50px !important;
}
.education-area {
  margin-left: 20px !important;
  width: 400px !important;

}
.education-area2 {
  margin-left: 50px !important;
}
.experience-area {
  margin-left: 50px !important;
  width: 930px !important;

}
.message-area {
  margin-left: 50px !important;

}
.personality p {
  margin-left: 50px !important;
}
.experience p{
  margin-left: 50px !important;
  
}
.education p{
  margin-left: 50px !important;
  margin-top: 60px !important;
}
.message p{
  margin-left: 50px !important;
}
}




@media screen and (max-width: 768px) {
  .sidebar img {
    width: 260px;
    height: 240px;
    margin-top: -50px !important;
    margin-left: -15px !important;
  }
  .sidebar {
    height: 130px;
    border-bottom: 1px solid black;
  }
  .mobil-baslik {
    display: block;
    font-family: K2D;
    font-size: 21px;
    position: absolute;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-left: 200px;
    margin-top: 35px;
  }
  .baslik-1 {
    color: #d52529;
  }
  .baslik-2 {
    margin-left: 20px;
  }
  .baslik-3 {
    color: #ffa800;
  }
  .p-slogan,
  .slider_container,
  .p-baslık,
  .sidebar-btn,
  .navbar-arka,
  .slider-container2,
  .full-screen-svg {
    display: none;
  }
  .content{
    width: 95%;
    margin-left:10px !important;
  
  }
  .h2-class{
    margin-left: 20px !important;
  }
  .kariyer-p{
    display: none;
  }
  .kariyer-mobile-p{
    display: block;
    margin-left: 20px !important;
    box-sizing: border-box;
    justify-content: start;
    max-width: 100%;
    color: #fff;
    font-family: Jost;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    margin-top: 0px;
    margin-left: 50px;
  }
  .iletisim-txt{
    width: 180px;
    margin-left: 15px !important;
  }
  .iletisim-txt2{
    width: 180px;
    margin-left: 15px !important;
  }
  .personality p{
    margin-left: 15px !important;
  }
  .iletisim-date{
    width: 180px !important;
    margin-left: 15px !important;
  }
  .iletisim-txt-tabledısı{
    width: 180px !important;
    margin-left: 15px !important;
  }
  .iletisim-txt2-tabledısı{
  width: 180px !important;
   margin-left: 215px !important;
  }
  .education p{
    margin-left: 15px !important;
  }
  .education-area{
    display: none;
  }
  .education-area2{
    width: 400px;
    margin-left: 15px !important;
  }
  .experience p{
    margin-left: 15px !important;
  }
  .experience-area{
    width: 400px !important;
    margin-left: 20px !important;
    height: 100px !important;
  }
  .message p{
    margin-left: 15px !important;
  }
  .message-area{
    width: 410px !important;
    margin-left: 20px !important;
    height: 100px !important;
  }
  .message{
    margin-top: 750px;
  }
  
  .h1-class{
    position: relative;
    }
  .mobile-is-baslik{
    display: block;
    margin-top: 30px ;
    margin-bottom: 30px;
    color: #000;
    font-family: Jost;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .message-btn{
    width: 150px;
    height: 35px;
    margin-left: 25px !important;
  }
  .txt1{
    font-size: 20px;
  }
  .txt2{
    font-size: 20px;
  }
  .footer img {
    height: 130px;
    width: 200px;
    margin-top: 55px !important;
  }
  .footer p {
    font-size: 14px;
  }
  .footer{
    height:230px !important ;
  }
}