h1{
margin: auto;
margin-top: 30px;
margin-bottom: 30px;
color: #000;
font-family: Jost;
font-size: 35px;
font-style: normal;
font-weight: 300;
line-height: normal;
width: 271px;
height: 61px;
}
.content{
position:absolute;
margin-left: 7.5%;
width: 85%;
height: 1619px;
border-radius: 15px;
background: linear-gradient(271deg, rgba(213, 37, 41, 0.74) -21.92%, #2F2E41 157.63%);
}
h2{
color: #FFF;
font-family: Jost;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 60px;
margin-left: 100px;
}
.kariyer-p{
color: #FFF;
font-family: Jost;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: left;
margin-top: -15px;
margin-left: 100px;
}
.personality{
position: absolute;
height: 250px;
width: 100%;
}
.personality p{
color: #FFF;
font-family: Jost;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 260px;
margin-top: 20px;
}
.iletisim-txt{
    color: #C0B4B4;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    margin-bottom: 30px;
    margin-left: 260px;
    border-radius: 10px;
    border: 1px solid #FFB800;
    background: #FFF;
    display: flex;
    width: 230px;
    height: 40px;
    padding: 5px;
    align-items: center;
  }
  .iletisim-txt2{
    color: #C0B4B4;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    margin-bottom: 30px;
    margin-left: 30px;
    border-radius: 10px;
    border: 1px solid #FFB800;
    background: #FFF;
    display: flex;
    width: 230px;
    height: 40px;
    padding: 5px;
    align-items: center;
  }
  .iletisim-txt-area{
    color: #C0B4B4;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    margin-top: -30px;
    margin-left: 30px;
    border-radius: 10px;
    border: 1px solid #FFB800;
    background: #FFF;
    display: flex;
    width: 230px;
    height: 120px;
    padding: 5px;
    align-items: center; 
    text-align: left ;
  }
  .iletisim-date{
    color: #C0B4B4;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    margin-bottom: 30px;
    margin-left: 260px;
    border-radius: 10px;
    border: 1px solid #FFB800;
    background: #FFF;
    display: flex;
    width: 230px;
    height: 40px;
    padding: 5px;
    align-items: center;
  }
  .education{
    position: absolute;  
    height: 300px;
    width: 100%;   
    margin-top: 250px;
  }
  .education p{
    color: #FFF;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 260px;
    margin-top: 20px;
    }
    .education-area{
      color: #C0B4B4;
      font-family: Jost;
      font-size: 16px;
      font-style: normal;
      margin-top: 0px;
      margin-left: 30px;
      border-radius: 10px;
      border: 1px solid #FFB800;
      background: #FFF;
      display: flex;
      width: 475px;
      height: 80px;
      padding: 5px;
      align-items: center; 
      text-align: left ;
    }
    .education-area2{
      color: #C0B4B4;
      font-family: Jost;
      font-size: 16px;
      font-style: normal;
      margin-top: 0px;
      margin-left: 260px;
      border-radius: 10px;
      border: 1px solid #FFB800;
      background: #FFF;
      display: flex;
      width: 500px;
      height: 100px;
      padding: 5px;
      align-items: center; 
      text-align: left ;
    }
    .experience{
      position: absolute;
      height: 250px;
      width: 100%;
      margin-top: 550px;
    }
    .experience p{
      color: #FFF;
      font-family: Jost;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-left: 260px;
      margin-top: 20px;
      }
      .experience-area{
        color: #C0B4B4;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        margin-left: 260px;
        border-radius: 10px;
        border: 1px solid #FFB800;
        background: #FFF;
        display: flex;
        width: 1010px;
        height: 150px;
        padding: 5px;
        vertical-align:top;
      }
      .message{
        position: absolute;
        height: 250px;
        width: 100%;
        margin-top: 800px;
      }
      .message p{
        color: #FFF;
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-left: 260px;
        margin-top: 20px;
        }
      .message-area{
        color: #C0B4B4;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        margin-left: 260px;
        border-radius: 10px;
        border: 1px solid #FFB800;
        background: #FFF;
        display: flex;
        width: 700px;
        height: 120px;
        padding: 5px;
        vertical-align:top;
      }
      .message-btn{
        display: flex;
        width: 160px;
        height: 50px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #FFCB2D;
        border: 1px #FFCB2D ;
        color: #FFF;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 15px;
        margin-left: 100px;
      }
