body{
    width: 100%;
}
.baslik-logo{
    margin: auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    margin-top: 20px;
    margin-bottom: -50px;
}
.img-thumbnail{
    margin-top: 80px;
    width: 100%;
    height: 150px;
    border: 0px;
    position: absolute;
    z-index: -1;

}
.baslik-yazi{
    margin-top: 83px;
    color: #fff;
    z-index: 1;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: jost;
    margin-left: 0%;    
}
.mobile-content-xs{
    display: none;
}
.content{
    margin-top: 200px !important;
    height: 900px;
    width: 80%;
    border: solid 1px black;
    z-index: -1;
    justify-self: center;
    margin: auto;
    text-align: start;
    margin-bottom: 200px;;
}
.content-left{
    float: left;
    width: 50%;
    height: 100%;
    border: solid 1px black;
    box-sizing: border-box;
}
.content-right{ 
    float: right;
    width: 50%;
    height: 100%;
    border: solid 1px black;
    justify-items: center;
    align-items: center;
    background: linear-gradient(224deg, rgba(213, 37, 41, 0.76) 0%, #3F3D56 133.44%);
}
h3{
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
    
}
.MADEN{
    width: 60%;
    height: 400px;
    margin-left: 20%;
    margin-top: 100px;

}
h1{
    margin-top: 70px;
    margin-left: 18%;
}
p{
    margin-top: 40px;
    margin-left: 10px;
    text-align: left;
    font-size: 18px;
    box-sizing: border-box !important;
    justify-content: start;
}
.content .sidebar-btn{
    float: center;
    margin-right: 34%;
    width: 250px;
    background-color: aliceblue;
    font-size: 22px;
    font-weight:normal;
}
.content .sidebar-btn a{
    color: #1a1a1a;
}
.footer {
    width: 100%;
    height: 30%;
    background-color: #1a1a1a;
    bottom: 0; 
    justify-content: center;
    margin-bottom: -25px;
  }
  
  .footer img {
    height: 120px;
    width: 190px;
    margin-top: 5%;
    margin-bottom: -5%;
  }
  
  .footer p {
    text-align: center;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    flex-shrink: 0;
    position: absolute;
    margin-top: 6%;
    margin-bottom: 25px;
    margin-left: 37%;
  }


  @media screen and (max-width: 1700px) {
    h3{
        font-size: 24px;
    }
  }
  @media screen and (max-width: 1470px) {
    h3{
        font-size: 22px;
    }
    p{
        margin-top: 80px;
        font-size: 18px;
    }
  }
  @media screen and (max-width: 1350px) {
    h3{
        font-size: 18px;
    }
  }
  @media screen and (max-width: 1095px) {
    h3{
        font-size: 16px;
    }
    p{
        margin-top:50px !important;
    }
  }

  @media(max-width:768px){

    .content{
        display: none;
    }
    .mobile-content-xs{
        display: block;
        width: 100% !important;
        height: 750px;
        margin-top: 150px;
        margin-bottom: 170px;
    }
    .baslik-logo{
        height: 50px !important;
        width: 210px;
    }
    .baslik-yazi{
        font-size: 20px;
        font-weight: 600;
    }
    .content-top{
        height: 300px;
        background: linear-gradient(224deg, rgba(213, 37, 41, 0.76) 0%, #3F3D56 133.44%);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .content-top-img{
        width: 350px ;
        height: 200px;
        margin-left: 10%;
        margin-top: 10%;
    }
    .content-bottom{
        border-left:1px solid black;
        border-right:1px solid black;
        border-bottom:1px solid black;
        height: 600px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .content-bottom p{
        box-sizing: border-box;
        justify-content: start;
        font-size: 16px;
        margin-top: 20px !important;
    }
    .mobile-btn{
        margin-left: 23% ;
        background-color: #2F2E43;
        border:1px solid #2F2E43;
        height: 40px;
        font-size: 17px;
        width: 50%;
        border-radius: 10px;
        font-family: Jost;
    }
     a{
        color:#fff !important;
    }
  }
  @media(max-width:400px){
    .content-top-img{
        margin-top: 13%;
        margin-left: 5%;
    }
    .content-bottom{
        border:1px solid black;
        height: 700px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    .mobile-btn{
        height: 40px;
        font-size: 16px;
    }
    .footer img {
        height: 110px;
        width: 190px;
        margin-top: 50px !important;
      }
      .footer p {
        font-size: 14px;
        margin-top: 10px;
      }
      .footer{
        height:230px !important ;
      }
  }